.beta {
	font-size:10px;
}

.title{
	text-align: center;
}

.post {
	margin:25px 100px;
}

.sidebar-nav {
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

#social {
	float:right;
}

#copy {
	float:left;
}