<div class="hero-unit">
  <%- model_class = @post.class -%>
  <h1 class="title"><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
  <div class="post">
    <%= render :partial => 'form' %>
  </div>
</div>